.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.card {
  width: 330px;
}

//.btns {
//  button {
//    margin-top: 3rem;
//  }
//}

.type {
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }
}