.cards {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  &:after {
    content: "";
    flex: auto;
  }
}

.card {
  width: 330px;
  margin: 0 0 1rem 4rem;
}

.type {
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }
}