.ant-menu {
    margin-top: 8rem;
}

.ant-layout-sider-children {
    background-color: white;
}

.ant-layout-header {
    background-color: white;
}

.ant-layout-sider-trigger {
    //background-color: white;
}