login-form {
  max-width: 300px;
}

login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.form {
  padding-top: 8rem;
  h2 {
    display: flex;
    justify-content: center;
  }
  .btn {
    margin-top: 1rem;
    width: 100%;
  }
  .forgot {
    float: right;
  }
  .error {
    color: red;
  }
}
