.profileContainer {
  display: flex;
  position: absolute;

  .left {
    display: flex;
    flex-direction: column;
  }

  .profileInfo {
    margin-left: 4rem;
    margin-bottom: 1rem;

    .fullName {
      font-weight: 700;
    }

    .field {
      margin-bottom: 1.2rem;
    }

    .email {
      display: flex;
    }

    .isActivated {
      display: flex;
      position: relative;
      top: 2.2rem;
      margin-left: 2rem;

      .isActivatedIcon {
        fontSize: 24px;
        margin-right: 0.3rem;
      }
    }
  }

  .settings {
    margin: 2rem 0 1rem 0;
  }

  .SettingsIcon {
    position: relative;
    top: -1.1rem;
    left: 10rem;
  }
}