.logoContainer {
  display: flex;
  justify-content: start;
  margin: 0.4rem 0 0 1.5rem;
}

.logo {
  fill: #563199;
}

.headerLogoTitle {
  white-space: pre-wrap;
  margin: 1rem 0 0 1rem;
  font-family: Rubik, sans-serif;
  color: #644394;
  font-weight: 800;
  font-size: 1.35rem;
}