.container {
  display: grid;
  grid-template-areas:
    'header header'
    'subtitle subtitle'
    'calendar content';
  grid-gap: 5px;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 30px 50px 1fr;
}

.header {
  grid-area: header;
}

.calendar {
  grid-area: calendar;
  align-self: start;
  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.content {
  grid-area: content;
}

.subtitle {
  grid-area: subtitle;
  h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.list {
  margin-left: 1rem;
}
.timesContainer {
  .times {
    font-size: 1rem;
    font-weight: 700;
    width: 135px;
    height: 40px;
  }

  button:disabled,
  button[disabled] {
    font-size: 1rem;
    width: 135px;
    height: 40px;
  }
}

.green {
  background-color: #96e561;
}

.green:hover {
  background-color: #b7ee95;
}

.yellow {
  background-color: #ffb85c;
}

.yellow:hover {
  background-color: #ffd399;
}

.orange {
  background-color: #f8a38b;
}

.orange:hover {
  background-color: #fbc1b1;
}

.badges {
  padding-top: 2.3rem;
  display: flex;
  flex-direction: column;
}
