.root {
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 3rem;

    .card {
      //width: 330px;
    }
  }
}
