.ant-layout-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d6d6;
  line-height: 1;
}

.headerLogoTitle {
  white-space: pre-wrap;
  margin-left: 1rem;
  font-family: Rubik, sans-serif;
  color: #644394;
  font-weight: 800;
  font-size: 1.35rem;
}
