.ant-page-header-back {
  margin-right: 5px;
}

.ant-page-header {
  padding: 0;
}

.ant-page-header-heading-title {
  font-size: 0.9rem;
  opacity: 90%;
  font-weight: 700;
}
.ant-picker-input {
  width: 200px;
}