.container {
  display: grid;
  grid-template-areas:
    "header header"
    "subtitle subtitle"
    "calendar content";
  grid-gap: 5px;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 30px 50px 1fr;
}

.header {
  grid-area: header;
}

.calendar {
  grid-area: calendar;
  align-self: start;
  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.content {
  grid-area: content;
}

.subtitle {
  grid-area: subtitle;
  h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.instructor {
  button {
    margin-right: 0.2rem;
    width: 75px;
  }
  .times {
    margin-left: 0.8rem;
  }
  .time {
    margin: 0 0.2rem 0.4rem 0;
  }
}