.container {
  display: grid;
  grid-template-areas:
    "header header"
    "subtitle subtitle"
    "calendar content";
  grid-gap: 5px;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 30px 50px 1fr;
}

.header {
  grid-area: header;
  border: 1px solid black;
}

.calendar {
  grid-area: calendar;
  border: 1px solid black;
  align-self: start;
  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.content {
  grid-area: content;
  border: 1px solid black;
}

.subtitle {
  border: 1px solid black;
  grid-area: subtitle;
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }
}

.instructor {
  button {
    margin-right: 0.2rem;
    width: 75px;
  }
  .times {
    margin: 0 0 0.2rem 0.8rem;
    //border: 1px solid green;
  }
}