/*.ant-layout {*/
/* min-height: 100vh;*/
/*}*/

/*.contentContainer {*/
/*  min-height: 100vh;*/
/*}*/

.ant-menu {
  /*margin-top: 8rem;*/
}

.ant-layout-sider-children {
  background-color: white;
}

.ant-layout-header {
  background-color: white;
}

.ant-layout-sider-trigger {
  //background-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.contentContainer {
  margin: 24px 16px;
  padding: 20px;
  min-height: 100vh;
}

.ant-alert-banner {
  text-align: center;
}
