body {
  font-family: 'Roboto', sans-serif;
  /*margin: 0;*/
  /*padding: 0;*/
  /*box-sizing: border-box;*/
}
/*h1, h2, h3, h4, h5, h6 {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*body,html {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/** {*/
/*  box-sizing: border-box;*/
/*}*/

.contentContainer {
  padding: 30px 25px;
}

.app__wrapper {
  height: 100%;
}
