.ava {
  margin-top: 13px;
  :global {
    .ant-avatar {
      display: block;
      margin: 0 auto;
    }
  }
}

.info {
  text-align: center;
  .name {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .gender {
    margin-top: 0.4rem;
  }
  .phone {
  }
  .settings {
    position: relative;
    padding-top: 0.7rem;
    margin-bottom: 1rem;
  }
  .SettingsIcon {
    position: absolute;
    top: 0.9rem;
    left: 10rem;
  }
}
