.avatar {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
}

.info {
  display: flex;
  flex-direction: column;
  //padding: 0.5rem 0 1rem 1rem;
  .name {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .gender {
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
  }
  .phone {
    padding-left: 0.8rem;
  }
  .settings{
    display: flex;
    justify-content: center;
    margin: 0.7rem 0 1rem 0;
  }
  .SettingsIcon {
    position: relative;
    top: 0.18rem;
    left: 0.25rem;
  }
}